# Ambiente Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyw
*.pyc
venv/
env/

# Docker
*.log
docker-compose.override.yml

# VS Code
.vscode/

# Arquivos de dados e mapas
data/
*.pbf
*.geojson
*.json

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.bak
*.swp
